@font-face {
    font-family: 'Donpoligrafbum';
    src: url(../fonts/Donpoligrafbum.otf) format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}